// variables

$background: #000000;
$dark-grey-primary-color: #202020;
$dark-grey-color: #181818;
$grey-color: #3D3C3C;
$light-grey-color: #797C81;
$line-with-angle-color: #92AB3D;
$btn-dark-green-color: #388A40;
$btn-second-green-color: #329135;
$btn-green-color: #A3BC47;

$medium-mq: 768px;
$large-mq: 1200px;

$main-font: "Arial";